h1 {
    text-align: center;
}

input[type="image"] {
    width: 100px;
    outline: none;
}

#topBlock {
    width: 500px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
}

#bottomBlock {
    width: 500px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
}

#sessionText, #breakText, #sessionTimeText, #breakTimeText {
    display: inline-block;
}