h1 {
    text-align: center;
}

input[type="image"] {
    width: 100px;
    outline: none;
}

#topBlock {
    width: 500px;
    height: 200px;
    text-align: center;
    margin: 10px auto;
    background-color: #c5c5c5;
    color: black;
}

#bottomBlock {
    width: 500px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    background-color: #c5c5c5;
    color: black;
}

#sessionText, #breakText, #sessionTimeText, #breakTimeText {
    display: inline-block;
}

body {
    background-color: black;
}

#sessionText {
    margin-right: 100px;
}

.downLeftBtn {
    margin-right: 70px;
}

h1 {
    color: white;
}