h1 {
    margin-top: 200px;
    text-align: center;
    color: #333333;
}

h2 {
    margin: 10px;
}

p {
    margin: 0;
}

h3 {
    margin: 0;
    margin-bottom: 10px;
}

#timeCountDown {
    margin: 0;
}

input[type="image"] {
    display: inline-block;
    outline: none;
}

#pauseBtn {
    width: 60px;
    padding: 19px;;
}

#playBtn, #replayBtn {
    width: 85px;
    
}

#stopBtn {
    width: 100px;
}

#playBtn, #pauseBtn {
    margin-right: 100px;
}

#replayBtn, #stopBtn {
    margin-left: 100px;
}

#upLeftBtn {
    margin-right: 220px;
}

#topBlock {
    width: 450px;
    height: 85px;
    text-align: center;
    margin: 10px auto;
    background-color: #333333;
    color: black;
}

#bottomBlock {
    width: 450px;
    height: 235px;
    text-align: center;
    margin: 0 auto;
    background-color: #333333;
    color: black;
}

#sessionText, #breakText, #sessionTimeText, #breakTimeText {
    display: inline-block;
}

body {
    background-color: black;
}

#sessionText {
    margin-right: 200px;
}

button {
    outline: none;
    border: none;
    background-color: black;
    color: white;
}